#dependencias
pip install pandas
pip install scikit-learn
pip install matplotlib
pip install seaborn

# Entorno virtual
python -m venv .venv
source .venv/bin/activate  # o .venv\Scripts\activate en Windows
pip install -r requirements.txt
